<div>
  <h1>ようこそ、ながのCAKEへ！</h1><br>
    <P>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  
  <h2>新着商品</h2>
  <div>
    <% @items.last(4).each do |item| %>
      <%= attachment_image_tag item, :image, :fill, 50, 50, format: 'jpag', fallback: "no_image.jpg" %><br>
      <%= link_to item.name, item_path(item.id) %><br>
      ￥<%= item.price %><br>
    <% end %>
  </div>
  
  <li>
    <%= link_to "すべての商品を見る", items_path %>
  </li>
</div>