<div>
  <h1>商品一覧（全<%= @items.count %>件）</h1>
  
  <div>
    <% @items.each do |item| %>
      <%= attachment_image_tag item, :image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
      <%= item.name %>
      ￥<%= item.price %>
    <% end %>
  </div>
</div>
